{% extends '::base.html.twig' %}

{% block title %}Bienvenido Asesores SA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/asesoressa/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/asesoressa/css/estilos.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/asesoressa/css/dataTables.min.css') }}" />
{% endblock %}


{% block sidebar %}
    <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{{ path('Bienvenida') }}"><img src="{{ asset('bundles/asesoressa/images/asesoresSA1.jpg') }}" class="img-responsive img-thumbnail brand" alt="Asesoses SA Logo" /></a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gesti贸n de Datos <span class="caret"></span></a>
	          <ul class="dropdown-menu">
                    <li><a href="{{ path('listarAseguradora') }}">Aseguradoras</a></li>
	            <li><a href="{{ path('listarCliente') }}">Clientes</a></li>
	            <li><a href="{{ path('listarMovimiento') }}">Movimientos</a></li>
	            <li><a href="{{ path('listarRamo') }}">Ramos</a></li>
                    <li><a href="{{ path('listarUsuario') }}">Usuarios</a></li>
	          </ul>
	        </li>
                <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transacci贸n<span class="caret"></span></a>
	          <ul class="dropdown-menu">
                    <li><a href="{{ path('nuevaPoliza') }}">Registro de Transacci贸n</a></li>
                    <li><a href="{{ path('verTransaccion') }}">Lista de Transacciones</a></li>
	          </ul>
	        </li>
                <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido, Usuario<span class="caret"></span></a>
	          <ul class="dropdown-menu">
                    <li><a href="{{ path('cerrarSesion') }}">Cerrar Sesi贸n</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
{% endblock %}
        


{% block body %}
	
{% endblock %}

        
        
    
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/asesoressa/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/asesoressa/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/asesoressa/js/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/asesoressa/js/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}