{% extends '::layout.html.twig' %}

{% block title %}Registro de Cliente{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3">
                    <h3 class="text-center">Registro de Cliente</h3>
                    {{ form_start(form)}}
                    <div class="form_bloque form-group">
                        <div class="form_error">{{form_errors(form.filecliente)}}</div>
                        <div class="form_label">{{form_label(form.filecliente, 'File', {'label_attr': {'for': 'filecliente'}})}}</div>
                        <div class="form_input">{{form_widget(form.filecliente, { 'attr': {'class': 'form-control', 'placeholder':'File'} })}}</div>
                    </div>
                    <div class="form_bloque form-group">
                        <div class="form_error">{{form_errors(form.nombrecliente)}}</div>
                        <div class="form_label">{{form_label(form.nombrecliente, 'Nombres', {'label_attr': {'for': 'nombrescliente'}})}}</div>
                        <div class="form_input">{{form_widget(form.nombrecliente, { 'attr': {'class': 'form-control', 'placeholder':'Nombres'} })}}</div>
                    </div>
                    <div class="form_bloque form-group">
                        <div class="form_error">{{form_errors(form.apellidocliente)}}</div>
                        <div class="form_label">{{form_label(form.apellidocliente, 'Apellidos', {'label_attr': {'for': 'apellidoscliente'}})}}</div>
                        <div class="form_input">{{form_widget(form.apellidocliente, { 'attr': {'class': 'form-control', 'placeholder':'Apellidos'} })}}</div>
                    </div>
                    <div class="form_bloque form-btn">
                        {{form_widget(form.Guardar, { 'attr': {'class': 'btn btn-primary btn-style', 'id':'btn-guardar'} })}}
                        <a href="{{ path('listarCliente') }}" class="btn btn-primary" role="button">Ver Clientes</a>
                    </div>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/asesoressa/js/validaciones/cliente.js') }}"></script>   
{% endblock %}