{% extends '::layout.html.twig' %}

{% block title %}Registro de Ramo{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3">
                    <h3 class="text-center">Registro de Ramo</h3>
                    {{ form_start(form)}}
                    <div class="form_bloque form-group">
                        <div class="form_error">{{form_errors(form.siglaramo)}}</div>
                        <div class="form_label">{{form_label(form.siglaramo, 'Sigla', {'label_attr': {'for': 'sigla'}})}}</div>
                        <div class="form_input">{{form_widget(form.siglaramo, { 'attr': {'class': 'form-control', 'placeholder':'Sigla'} })}}</div>
                    </div>
                    <div class="form_bloque form-group">
                        <div class="form_error">{{form_errors(form.nombreramo)}}</div>
                        <div class="form_label">{{form_label(form.nombreramo, 'Nombre', {'label_attr': {'for': 'nombre'}})}}</div>
                        <div class="form_input">{{form_widget(form.nombreramo, { 'attr': {'class': 'form-control', 'placeholder':'Nombre'} })}}</div>
                    </div>
                    <div class="form_bloque form-group">
                        <div class="form_error">{{form_errors(form.tiporamo)}}</div>
                        <div class="form_label">{{form_label(form.tiporamo, 'Tipo', {'label_attr': {'for': 'tipo'}})}}</div>
                        <div class="form_input">{{form_widget(form.tiporamo, { 'attr': {'class': 'form-control'} })}}</div>
                    </div>
                    <div class="form_bloque form-group">
                        <div class="form_error">{{form_errors(form.estadoramo)}}</div>
                        <div class="form_label">{{form_label(form.estadoramo, 'Estado', {'label_attr': {'for': 'estado'}})}}</div>
                        <div class="form_input">{{form_widget(form.estadoramo, { 'attr': {'class': 'form-control'} })}}</div>
                    </div>
                    <div class="form_bloque form-btn">
                        {{form_widget(form.Guardar, { 'attr': {'class': 'btn btn-primary btn-style', 'id':'btn-guardar'} })}}
                        <a href="{{ path('listarRamo') }}" class="btn btn-primary" role="button">Ver Ramos</a>
                    </div>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/asesoressa/js/validaciones/ramo.js') }}"></script>   
{% endblock %}