{% extends '::layout.html.twig' %}

{% block title %}Registro de Usuarios{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3">
                    <h3 class="text-center">Registro de Usuarios</h3>
                    {{ form_start(form)}}
                    <div class="form_bloque form-group">
                        <div class="form_error">{{form_errors(form.nombreusuario)}}</div>
                        <div class="form_label">{{form_label(form.nombreusuario, 'Usuario', {'label_attr': {'for': 'idusuario'}})}}</div>
                        <div class="form_input">{{form_widget(form.nombreusuario, { 'attr': {'class': 'form-control', 'placeholder':'Usuario'} })}}</div>
                    </div>
                    <div class="form_bloque form-group">
                        <div class="form_error">{{form_errors(form.contrasenausuario.first)}}</div>
                        <div class="form_label">{{form_label(form.contrasenausuario.first, 'Contrase単a', {'label_attr': {'for': 'contrasenausuario'}})}}</div>
                        <div class="form_input">{{form_widget(form.contrasenausuario.first, { 'attr': {'class': 'form-control', 'placeholder':'Contrase単a'} })}}</div>
                    </div>
                    <div class="form_bloque form-group">
                        <div class="form_error">{{form_errors(form.contrasenausuario.second)}}</div>
                        <div class="form_label">{{form_label(form.contrasenausuario.second, 'Repita su Contrase単a', {'label_attr': {'for': 'contrasenausuario'}})}}</div>
                        <div class="form_input">{{form_widget(form.contrasenausuario.second, { 'attr': {'class': 'form-control', 'placeholder':'Contrase単a'} })}}</div>
                    </div>
                    <div class="form_bloque form-group">
                        <div class="form_error">{{form_errors(form.idperfil)}}</div>
                        <div class="form_label">{{form_label(form.idperfil, 'Rol de Usuario', {'label_attr': {'for': 'rolperfil'}})}}</div>
                        <div class="form_input">{{form_widget(form.idperfil, { 'attr': {'class': 'form-control'} })}}</div>
                        
                    </div>
                    <div class="form_bloque form-btn">
                        {{form_widget(form.Guardar, { 'attr': {'class': 'btn btn-primary btn-style', 'id':'btn-guardar'} })}}
                        <a href="{{ path('listarUsuario') }}" class="btn btn-primary" role="button">Ver Usuarios</a>
                    </div>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/asesoressa/js/validaciones/usuario.js') }}"></script>   
{% endblock %}